.body {
  background-color: #1c77ac;
  background-image: url(../imgs/login_main_bg.png);
  background-repeat: no-repeat;
  /* background-position: center; */
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  background-size: 100% 100%;
}
.title {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 383px;
  height: 53px;
  background: url("../imgs/logo.png") no-repeat;
  color: rgb(33, 174, 255);
}

#title {
  position: absolute;
  font-size: 18px;
  left: 80px;
  top: 18px;
}
.title img {
  left: 50px;
  position: absolute;
  top: 30px;
}
.container {
  text-align: center;
  position: relative;
  background: url("../imgs/login_center.png") center no-repeat;
  width: 950px;
  height: 751px;
  margin: 0 auto;
  background-size: contain;
}

.content {
  width: 480px;
  height: 516px;
  margin: 0 auto;
  /* border: 1px solid #1f3ea0;
  background: rgba(19, 28, 66, 0.4); */
  /* margin-left: 720px; */
  margin-top: 280px;
  /*box-shadow: 0 0 3px #08769F, inset 0 0 3px #08769F;*/
  border-radius: 4px;
  text-align: center;
}

.login-title {
  text-align: center;
  color: #ffffff;
  font-family: YouYuan;
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 55px;
  /* width: 100%; */
  line-height: 65px;
  height: 65px;
  margin-left: 366px;
  font-family: MicrosoftYaHei;
  font-size: 24px;
  letter-spacing: 4px;
  color: #ffffff;
}

.login {
  width: 365px;
  height: 66px;
  /* border-radius: 10px;
  border: 1px solid #1f3ea0;
  box-shadow: 0 0 3px #08769f, inset 0 0 3px #08769f; */
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  line-height: 45px;
  position: relative;
}

.login-name {
  margin-top: 168px;
}

.login-psw {
  margin-top: 10px;
}

.login-btn {
  background: #2781cc;
  border: 0;
  text-align: center;
  font-size: 18px;
  line-height: 55px;
  color: #ffffff;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "微软雅黑";
  top: -350px;
  width: 240px;
  left: 6px;
  height: 38px;
  line-height: 38px;
  background-color: #11a2ec;
  box-shadow: 0px 2px 0px 0px #00d2ff;
  border-radius: 23px;
}

.login-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.img-name {
  background: url("../imgs/new_user_icon.png") no-repeat center;
  width: 15px;
  height: 18px;
  position: absolute;
  top: 20px;
  left: 35px;
}

.img-psw {
  background: url("../imgs/password_icon.png") no-repeat center;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 20px;
  left: 35px;
}

.input {
  position: absolute;
  top: 8px;
  left: 66px;
  background: rgba(14, 133, 194, 0.6);
  border-radius: 25px;
}

.input-name {
  height: 35px;
  width: 316px;
  border: 0px;
  font-size: 20px;
  background: none;
  color: white;
  width: 250px;
  height: 46px;
  background-color: rgba(14, 133, 194, 0.6);
  border-radius: 23px;
  border: solid 1px #00d2ff;
  padding-left: 15px;
  outline: none;
}

.input-psw {
  height: 35px;
  width: 316px;
  border: 0px;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  width: 270px;
  height: 46px;
  background-color: rgba(14, 133, 194, 0.6);
  border-radius: 23px;
  border: solid 1px #00d2ff;
  padding-left: 15px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

input::-ms-input-placeholder {
  color: white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(14, 133, 194, 0.6) !important;
  color: rgb(0, 0, 0);
}

.login-help {
  width: 260px;
  margin: 0 auto;
}

.login-help span {
  display: inline-block;
  width: 49%;
  color: #fff;
  cursor: pointer;
}

.login-help span:nth-child(1) {
  text-align: left;
}

.login-help span:nth-child(2) {
  text-align: right;
}
